<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    About Rango
{% endblock %}


{% block body_block %}
    <div>
        here is the about page.  <br />
        <strong> This tutorial has been put together by Viktoriia Boiechko. </strong><br />
    </div>

    <div>
        <a href = "{% url 'rango:index' %}">Index</a><br />
        <img src = "{% static 'images/rango.jpg' %}"
                alt = "Picture of Rango" /> <!--New line-->
        <img src = "{{MEDIA_URL}}cat.jpg"
                alt = "Picture of a Cat." /> <!--New line-->
    </div>
{% endblock %}