<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>Rango</title>
    <head>

    <body>
        <div>
            <strong> {{greetings}}</strong><br />
        </div>

        <div>
            <a href = "/rango/">Index</a><br />
            <img src = "{% static 'images/he_was_a_fairy.jpg' %}"
                    alt = "Picture of Sirko the dog with fairy wings" /> <!--New line-->
            <img src = "{{MEDIA_URL}}sirkoSHOCKED.jpg"
                    alt = "Picture of Sirko utterly shocked and appaled" /> <!--New line-->
        </div>

    </body>

</html>